<div class="row">
  <div class="span6">
    <legend><%= @product_category.name %></legend>

    <table class="table table-striped">

      <tr>
        <td><h6>Kategori Barang</h6></td>
        <td><%= @product_category.name %></td>
      </tr>

    </table>
  </div>
</div>