<div class="row">
  <div class="span6">
    <%= render :partial => 'form', :locals => { :action => "edit" } %>
  </div>
  <div class="span6">
    <%= render :partial => 'product_images/form' %>
  </div>
</div>
<%= render :partial => 'product_images/list' %>